:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --default-color: #efe3d9;
  --header-color: #eddbd4;
  --button-background-color: #89897d;
  --secondary-color: #ffb8a0;
  --border: 1px solid #efe3d9;
  --box-shadow: 5px 5px 10px rgba(33, 29, 29, 0.3);
}

h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: var(--heading-font);
  line-height: 1;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  margin-top: 22px;
  font-size: 26px;
  opacity: 0.7;
  font-weight: bolder;
}
p {
  margin-top: 30px;
  font-size: 10px;
  line-height: 20px;
}

footer {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  opacity: 90%;
}
footer a {
  font-size: 25px;
  text-decoration: none;
  color: #4180de;
}

body {
  font-family: var(--default-font);
  font-weight: 400;
  color: rgb(86, 83, 83);
  line-height: 1 !important;
  max-width: 100%;
  margin-bottom: 50px;
}

nav li a {
  color: var(--background-color);
}

.about-container {
  font-weight: 400;
  background-color: white;
  line-height: 1 !important;
  max-width: 100%;
  margin-bottom: 50px;
}
.header {
  background: var(--header-color);
  box-shadow: 10px 10px 20px rgba(32, 123, 199, 0.2);
  color: #89897d;
  margin: 0 auto;
  padding: 60px 40px;
}
.header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.text-outline {
  margin: 0 auto;
  padding: 10px 20px;
  border: var(--border);
  border-radius: 70px;
  box-shadow: var(--box-shadow);
}

.about-link {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 16px 14px;
  font-size: 18px;
  text-decoration: none;
  background-color: var(--header-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 10px;
}
.contact-link:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.projects-link {
  display: inline-block;
  text-align: center;
  margin: 0 60px;
  padding: 18px 14px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.btn-primary-link {
  border-radius: 4px;
  padding: 13px 15px;
  background-color: var(--header-color);
  box-shadow: var(--box-shadow);
  font-size: 11px;
}
.primary-link:hover {
  background-color: white;
  color: dark;
  cursor: pointer;
}

.my-picture {
  width: 200px;
  border-radius: 100px;
}
.logo {
  max-width: 150px;
  max-height: 88px;
}
.skills-container {
  margin: 50px 0;
}
a {
  color: #212529;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

nav {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #212529;
  opacity: 80%;
}
nav a:hover {
  text-decoration: none;
  color: var(--secondary-color);
  box-shadow: 0 0 26px 7px var(--header-color);
  transition: 0.5s ease-in-out;
}
nav .active a {
  color: var(--secondary-color) !important;
}

nav ul {
  margin: 27px;
  padding: 0;
}
nav li {
  display: inline;
  text-decoration: none;
  line-height: 50px;
  margin-left: 10px;
  font-family: var(--default-font);
  font-size: 15px;
  line-height: 1.5;
}
nav li.active a {
  color: #4180de;
}

footer .social-media a {
  margin: 0 15px;
  color: #212529;
}
footer .social-media a:hover {
  color: var(--secondary-color);
  box-shadow: 0 0 26px 4px var(--secondary-color);
  border-radius: 100%;
  transition: 0.5s ease-in-out;
}
.github-link,
.netlify-link {
  font-size: 15px;
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  h2 {
    font-size: 4vw;
  }
  h1 {
    font-size: 8vw;
    font-weight: bolder;
    text-align: center;
  }

  h3 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
  .my-picture {
    max-width: 141px;
    height: 167px;
    position: relative;
    left: -20px;
  }

  nav {
    padding: 9px 0;
  }
  nav a {
    font-size: 14px;
  }
  nav ul {
    margin: 20px 0;
  }
  .github-link,
  .netlify-link {
    font-size: 3vw;
  }
}
