:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #ffb67f;
  --border: 2px solid #e78133;
  --box-shadow: 5px 5px 10px rgba(33, 29, 29, 0.3);
  --background-color: #e395ef;
}

.body {
  font-family: var(--default-font);
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  line-height: 1 !important;
  max-width: 100%;
  margin: 100px 0;
  margin-bottom: 50px;
}
.header {
  background-color: #f9f7fe;
  padding: 100px 40px;
}
h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: var(--heading-font);
  line-height: 1;
}
.header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
h3 {
  margin-top: 22px;
  font-size: 26px;
  opacity: 0.7;
  font-weight: bolder;
}
p {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}

.text-outline {
  padding: 160px 60px;
}
.rounded {
  border-radius: 0.25rem;
}
.button {
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 5vw;
}
footer .email {
  text-decoration: none;
  color: #212529;
  font-size: 4vw;
  opacity: 70%;
}
.contact-link {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  border-radius: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: var(--primary-color);
  background-color: white;
  cursor: pointer;
}
@media (max-width: 900px) {
  .text-outline {
    margin: -100px 0;
  }
  h2 {
    font-size: 5vw;
  }
  h1 {
    font-size: 9vw;
    font-weight: bolder;
    text-align: center;
  }

  h3 {
    font-size: 5vw;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .button {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
  }
}
