:root {
  --font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --primary-color: #6c63ff;
  --secondary-color: #ffb67f;
  --border: 2px solid #e78133;
  --box-shadow: 5px 5px 10px rgba(33, 29, 29, 0.3);
  --background-color: #e395ef;
}

.body {
  margin-top: 100px;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.container {
  width: 100%;
  margin-top: 80px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 96px !important;
}
h2 {
  font-size: 48px !important;
}
h3 {
  font-size: 26px !important;
  opacity: 0.7;
}
p {
  margin-top: 50px !important;
  font-size: 18px;
  line-height: 1.5;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.rounded {
  border-radius: 0.25rem !important;
}

.about-paragraph {
  display: flex;
  padding: 10px;
}
.first-paragraph,
.second-paragraph {
  background-color: #f5f2fe;
  padding: 40px;
  margin-right: 64px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.contact-link,
.about-link {
  padding: 20px;
  margin-left: 40px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  border-radius: 30px;
}

.about-link {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}
.contact-link {
  background-color: var(--background-color);
  color: white;
}
.contact-me {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.email {
  font-size: smaller;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
